@import '../../../mixins.scss';
@import '../../../variables.scss';
.registration-main{
    display: flex;
    flex-direction: column;
    width: 782px;
    height: 768px;

}

.registration-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 18px;

}
.registration-title{
    @include thirdFontStyle();
}
.registration-text-top{
    margin-top: 15px;
    margin-bottom: 34px;
    a{
        padding-left: 3px;
        color: $secondColor;
    }
}


.registration-logo{
    margin-top: 183px;
    margin-bottom: 30px;
    margin-left: 40px;
   

}

.autorization{
    display: flex;
    flex-direction: row;

}
.autorization-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 768px;
    width: 584px;
    background-color:$mainColor ;

}

.autorization-title{
   
    justify-content: center;
    margin-bottom: 72px;
    @include thirdFontStyle();

    color: $whiteColor;
}

.autorization-text{
    margin-top: 52px;
    @include mainFontStyle();
    color: $whiteColor;
}